@import "./base.css";

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* 防止水平滚动 */
  margin: 0;
  padding: 0;
}

#app {
  /* max-width: 1280px; */
  padding: 2rem;
  font-weight: normal;
  margin: 0 auto;
  font-size: 12px;
}


/* 当屏幕宽度小于600px时，重新设置基础字体大小 */
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

/* 使用媒体查询适配其他屏幕尺寸 */
@media screen and (min-width: 601px) and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1001px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  #app {
    padding: 0;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
input, input:focus,
textarea, textarea:focus,
select, select:focus {
  font-size: 16px !important;
}

.el-tabs__item {
  font-size: var(--el-font-size-medium);
}

.content {
  min-height: 60vh;
}

.content pre {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  padding: 1.25rem;
  background: #213743;
  border-radius: 0.25rem;
  color: #fff;
  margin: 1em 0;
}

.content code {
  font-family: monospace, monospace;
  font-size: 1em;
}

h2 {
  font-size: var(--el-font-size-medium);
  font-weight: 500;
  padding: 1em 0;
}

.content p {
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-regular);
}

.result h2 {
  font-size: var(--el-font-size-base);
  font-weight: 500;
  color: var(--el-text-color-regular);
}

.result span {
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-regular);
}

.result .highlight span {
  color: white;
}

.result .scrollX {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translate(0);
  -moz-transform: none !important;
  scrollbar-width: thin;
}

.result .tr {
  padding-left: var(--spacingEm-0-5);
}

.result .td {
  text-align: center;
  padding: 0 var(--spacingEm-0-25);
}

.calccontent input {
  color: white !important;
}
